<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <%- include layout/head %>

    <title>Giỏ hàng</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/category/bodyskin.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/ctdetailprod.css">
</head>

<body>
    <header class="header">
        <nav class="nav nav--transparent">
            <div class="container">

                <div class="nav__logo">
                    <a href="/">
                        <img class="logo" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
                        <img class="logo-alt" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
                        <span class="header__pagename">Juka Cosmetic</span>
                    </a>
                </div>


                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Trang chủ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/userlistnews" class="nav__link">Tin tức</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/userlistorder" class="nav__link">Quản lý đơn mua</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/logout" class="nav__link">Đăng xuất</a>
                    </li>
                </ul>

                <button type="button" id="btn-bell" class="btn btn-link">
                    <a href="/member/userlistnoti"><i class="fas fa-bell"></i></a>
                </button>
                <button type="button" id="btn-cart" class="btn btn-link">
                    <a href="/member/usercart"><i class="fas fa-shopping-cart"></i></a>
                </button>

                <div class="nav__toggler">
                    <span class="nav__toggler-icon"></span>
                </div>
            </div>
        </nav>
    </header>

    <button class="go-to-top ct-btn ct-btn--primary">
        <i class="fas fa-angle-up"></i>
    </button>


    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover listoncart">
                <h3 class="table-caption">Giỏ hàng của bạn</h3>
                <thead>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Tổng</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data && data.cart) {%>
                    <% for(let i=0; i < data.cart.length; i++){%>
                    <tr>
                        <td> <%= data.cart[i].prodName%> </td>
                        <td> <%= data.cart[i].quantity%> </td>
                        <td> <%= data.cart[i].price%> </td>
                        <td> <%= data.cart[i].totalPrice%> </td>
                        <td style="display: flex; justify-content: space-around;">
                            <button class="btn btn-danger cartDelete"
                            productId="<%= data.cart[i].productId%>"> Xóa </button>
                        </td>
                    </tr> 
                    <%}%>
                    <%}%>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 col-md-10 col-md-offset-1" style="text-align: right; margin: 3rem 1rem;">
            <a style="height: 35px;"
                class="btn btn-success btn-ck"> Tiến hành đặt hàng </a>
        </div>
    </div>

    <%- include layout/footer %>
    <script src="../static/libs/owlcarousel/owl.carousel.js"></script>
    <script src="../static/libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/js/home.js"></script>
    <script src="../static/js/category.js"></script>
    <script src="../static/js/ctdetailprod.js"></script>
    <script src="../static/js/addtocart.js"></script>
    <script src="../static/js/deletecart.js"></script>
    <script src="../static/js/cart.js"></script>
</body>

</html>