<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/boostrap/3.3.7/css/boostrap.min.css"
        integrity="sha384-BVYiiSIFeK1dK68vbdEjh4u" crossorigin="anonymous">

    <%- include layout/head %>

    <title>Quản lý đơn mua</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/category/bodyskin.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/ctdetailprod.css">

</head>

<body onload="init();">
    <header class="header">
        <nav class="nav nav--transparent">
            <div class="container">

                <div class="nav__logo">
                    <a href="/">
                        <img class="logo" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
                        <img class="logo-alt" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
                        <span class="header__pagename">Juka Cosmetic</span>
                    </a>
                </div>

                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Trang chủ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/userlistnews" class="nav__link">Tin tức</a>
                    </li>
                    <li class="nav__item">
                            <a href="/member/userlistorder" class="nav__link">Quản lý đơn mua</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/logout" class="nav__link">Đăng xuất</a>
                    </li>
                </ul>

                <button type="button" id="btn-bell" class="btn btn-link">
                    <a href="/member/userlistnoti"><i class="fas fa-bell"></i></a>
                </button>
                <button type="button" id="btn-cart" class="btn btn-link">
                    <a href="/member/usercart"><i class="fas fa-shopping-cart"></i></a>
                </button>

                <div class="nav__toggler">
                    <span class="nav__toggler-icon"></span>
                </div>
            </div>
        </nav>
    </header>

    <button class="go-to-top ct-btn ct-btn--primary">
        <i class="fas fa-angle-up"></i>
    </button>


        <%if (data && data.ordertable) {%>
        <%for(let i=0; i < data.ordertable.length; i++) {%>
        <div class="listorder" style="margin: 5rem 10rem 5rem 20rem;">
            <h3 class="orderID"> Mã đơn hàng: <%= data.ordertable[i].orderID%> </h3>
            <p class="state" style="margin: 1rem 0 0 1rem; color: tomato;"> <span style="color: black;">Trạng thái:</span> <%= data.ordertable[i].state%> </p>
            <span class="createDate" style="font-size: 12px; margin-left: 1rem;"> Ngày tạo: <%= data.ordertable[i].createDate%> </span>
            <p class="listprod" style="margin-top: 1rem;"> <%= data.ordertable[i].listprod%> </p>
            <a href="userdetailorder/<%= data.ordertable[i].orderID%>" class="btn btn-success"> Xem đơn hàng </a>
        </div>
        <%}%>
        <%}%>

    <%- include layout/footer %>
    <script type="text/javascript" src="/static/js/home.js"></script>
</body>

</html>