<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.boostrapcdn.com/boostrap/3.3.7/css/boostrap.min.css"
        integrity="sha384-BVYiiSIFeK1dK68vbdEjh4u" crossorigin="anonymous">

    <%- include layout/head %>

    <title>Xem đơn mua</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/category/bodyskin.css">


    <script>
        var observe;
        if (window.attachEvent) {
            observe = function (element, event, handler) {
                element.attachEvent('on' + event, handler);
            };
        }
        else {
            observe = function (element, event, handler) {
                element.addEventListener(event, handler, false);
            };
        }
        function init() {
            var text = document.getElementById('text');
            function resize() {
                text.style.height = 'auto';
                text.style.height = text.scrollHeight + 'px';
            }
            /* 0-timeout to get the already changed text */
            function delayedResize() {
                window.setTimeout(resize, 0);
            }
            observe(text, 'change', resize);
            observe(text, 'cut', delayedResize);
            observe(text, 'paste', delayedResize);
            observe(text, 'drop', delayedResize);
            observe(text, 'keydown', delayedResize);

            text.focus();
            text.select();
            resize();
        }
    </script>
</head>

<body onload="init();">
    <header class="header">
        <nav class="nav nav--transparent">
            <div class="container">

                <div class="nav__logo">
                    <a href="/">
                        <img class="logo" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
                        <img class="logo-alt" src="https://image.flaticon.com/icons/png/512/997/997507.png" alt="logo">
                        <span class="header__pagename">Juka Cosmetic</span>
                    </a>
                </div>


                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Trang chủ</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/userlistnews" class="nav__link">Tin tức</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/userlistorder" class="nav__link">Quản lý đơn mua</a>
                    </li>
                    <li class="nav__item">
                        <a href="/member/logout" class="nav__link">Đăng xuất</a>
                    </li>
                </ul>

                <button type="button" id="btn-bell" class="btn btn-link">
                    <a href="/member/userlistnoti"><i class="fas fa-bell"></i></a>
                </button>
                <button type="button" id="btn-cart" class="btn btn-link">
                    <a href="/member/usercart"><i class="fas fa-shopping-cart"></i></a>
                </button>

                <div class="nav__toggler">
                    <span class="nav__toggler-icon"></span>
                </div>
            </div>
        </nav>

        <!-- <div class="header__content" id="home" style="position: relative;">
                <h1 class="header__title" >Thức tỉnh vẻ đẹp tự nhiên</h1>
                <p class="header__para">Hãy đến với chúng tôi để thức tỉnh vẻ đẹp tự nhiên và giữ cho vẻ đẹp ấy trường tồn cùng
                    thời gian!</br> Chúng tôi muốn
                    giúp đỡ bạn thực hiện những mong ước về diện mạo xinh đẹp và lấy lại vẻ trẻ trung, năng động, tự tin đối
                    diện với
                    cuộc sống muôn màu!</p>
                <form class="header__form" action="">
                    <div class="form-group form-search">
                        <div class="col-md-6">
                            <input type="text" class="form-control input__search" name="keyword" placeholder="Nhập từ khóa">
                        </div>
                        <button type="submit" id="btn-search" class="btn">
                            <i class="fas fa-search"></i>
                        </button>
        
                    </div>
                </form>
            </div> -->
    </header>

    <button class="go-to-top ct-btn ct-btn--primary">
        <i class="fas fa-angle-up"></i>
    </button>

    <div class="panel-body" style="margin: 3rem 10rem;">
        <div class="row">
            <div class="col-lg-12">

                <input class="orderID" type="hidden" name="orderID" value="<% if(data && data.ordertable) {%> <%= data.ordertable.orderID %> <%}%>">

                <% if (data && data.error){%>
                <div id=" editOrder-alert" class="alert alert-danger col-sm-12">
                <%= data.error %>
            </div>
            <%}%>
                    
                <form role="form" method="" action="">

                    <div class="form-group">
                        <label for="createDate">Ngày tạo</label>
                        <input class="form-control createDate" name="createDate" placeholder="Nhập ngày tạo" value="<% if (data && data.ordertable) {%><%= data.ordertable.createDate%><%}%>" disabled>
                    </div>

                    <div class="form-group">
                        <label for="listprod">Danh sách sản phẩm</label>
                        <textarea class="form-control listprod limitdata" name="listprod" rows="10" id="text"
                            placeholder="Nhập danh sách!" value="" disabled><%if(data && data.ordertable){%><%= data.ordertable.listprod%><%}%></textarea>
                    </div>

                    <div class="form-group" style="display: none;">
                        <label for="state" class="col-md-3 control-label ">Trạng thái</label>
                            <select name="state" id="state" class="form-control state">
                                <option value="Đã hủy">Đã hủy</option>
                            </select>
                    </div>

                    <div class="form-group" style="margin-top: 3rem;">
                        <a >
                            <input class="btn btn-danger orderdestroy" type="button" name="" value="Hủy đơn hàng">
                        </a>
                        <a href="/member/userlistorder">
                            <input class="btn btn-primary orderdetail" type="button" name="" value="Cancel">
                        </a>
                    </div>

                </form>
            </div>
        </div>
        <!-- /.row (nested) -->
    </div>

    <%- include layout/footer %>
    <script type="text/javascript" src="/static/js/home.js"></script>
    <!-- <script type="text/javascript" src="/static/js/orderMgt.js"></script> -->
    <script type="text/javascript" src="/static/js/destroyorder.js"></script>
</body>

</html>